<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>freelancer_signup_servlet</servlet-name>
        <servlet-class>freelancer_signup_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_login_servlet</servlet-name>
        <servlet-class>freelancer_login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_login_servlet</servlet-name>
        <servlet-class>client_login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_signup_servlet</servlet-name>
        <servlet-class>client_signup_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_gmail_servlet</servlet-name>
        <servlet-class>client_gmail_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_gmail_servlet</servlet-name>
        <servlet-class>freelancer_gmail_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_project_create</servlet-name>
        <servlet-class>client_project_create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_profile_edit</servlet-name>
        <servlet-class>freelancer_profile_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_search_framework</servlet-name>
        <servlet-class>freelancer_search_framework</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_search_language</servlet-name>
        <servlet-class>freelancer_search_language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_search_username</servlet-name>
        <servlet-class>freelancer_search_username</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_view_jobs_dashboard</servlet-name>
        <servlet-class>freelancer_view_jobs_dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_view_freelancers</servlet-name>
        <servlet-class>admin_view_freelancers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>freelancer_status_servlet</servlet-name>
        <servlet-class>freelancer_status_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_view_clients</servlet-name>
        <servlet-class>admin_view_clients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_status_servlet</servlet-name>
        <servlet-class>client_status_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_freelancer_profile</servlet-name>
        <servlet-class>view_freelancer_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_view_projects</servlet-name>
        <servlet-class>vmm.admin_view_projects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_view_project</servlet-name>
        <servlet-class>admin_view_project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_profile_edit</servlet-name>
        <servlet-class>client_profile_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_all_freelancers</servlet-name>
        <servlet-class>get_all_freelancers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_offer_servlet</servlet-name>
        <servlet-class>save_offer_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_client_profile</servlet-name>
        <servlet-class>view_client_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_offer_servlet</servlet-name>
        <servlet-class>view_offer_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client_view_jobs</servlet-name>
        <servlet-class>client_view_jobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_freelacer_jobs1</servlet-name>
        <servlet-class>view_freelacer_jobs1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>audit_user_servlet</servlet-name>
        <servlet-class>audit_user_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Review</servlet-name>
        <servlet-class>Add_Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>average_rating</servlet-name>
        <servlet-class>average_rating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>freelancer_signup_servlet</servlet-name>
        <url-pattern>/freelancer_signup_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_login_servlet</servlet-name>
        <url-pattern>/freelancer_login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_login_servlet</servlet-name>
        <url-pattern>/client_login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_signup_servlet</servlet-name>
        <url-pattern>/client_signup_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_gmail_servlet</servlet-name>
        <url-pattern>/client_gmail_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_gmail_servlet</servlet-name>
        <url-pattern>/freelancer_gmail_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_project_create</servlet-name>
        <url-pattern>/client_project_create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_profile_edit</servlet-name>
        <url-pattern>/freelancer_profile_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_search_framework</servlet-name>
        <url-pattern>/freelancer_search_framework</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_search_language</servlet-name>
        <url-pattern>/freelancer_search_language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_search_username</servlet-name>
        <url-pattern>/freelancer_search_username</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_view_jobs_dashboard</servlet-name>
        <url-pattern>/freelancer_view_jobs_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_view_freelancers</servlet-name>
        <url-pattern>/admin_view_freelancers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>freelancer_status_servlet</servlet-name>
        <url-pattern>/freelancer_status_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_view_clients</servlet-name>
        <url-pattern>/admin_view_clients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_status_servlet</servlet-name>
        <url-pattern>/client_status_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_freelancer_profile</servlet-name>
        <url-pattern>/view_freelancer_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_view_projects</servlet-name>
        <url-pattern>/admin_view_projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_view_project</servlet-name>
        <url-pattern>/admin_view_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_profile_edit</servlet-name>
        <url-pattern>/client_profile_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_all_freelancers</servlet-name>
        <url-pattern>/get_all_freelancers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_offer_servlet</servlet-name>
        <url-pattern>/save_offer_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_client_profile</servlet-name>
        <url-pattern>/view_client_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_offer_servlet</servlet-name>
        <url-pattern>/view_offer_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client_view_jobs</servlet-name>
        <url-pattern>/client_view_jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_freelacer_jobs1</servlet-name>
        <url-pattern>/view_freelacer_jobs1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>audit_user_servlet</servlet-name>
        <url-pattern>/audit_user_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Review</servlet-name>
        <url-pattern>/Add_Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>average_rating</servlet-name>
        <url-pattern>/average_rating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
